<h2>
  Beer styles
</h2>

<p>
  Number of beer styles: <%= @beer_styles.count %>
</p>

<ul>
  <% @beer_styles.each do |beer_style| %>
    <li>
      <%= link_to beer_style.name, beer_style %>
    </li>
  <% end %>
</ul>