<h2>Brewery list w/ JavaScript</h2>

<table class="table table-striped table-hover" id="breweries_table">
  <thead>
    <tr>
      <th>
        <span style="cursor: pointer;" id="sort_by_name">Name</span>
      </th>
      <th>
        <span style="cursor: pointer;" id="sort_by_year">Founded</span>
      </th>
      <th>
        <span style="cursor: pointer;" id="sort_by_beer_count">Beer Count</span>
      </th>
      <th>
        Status
      </th>
    </tr>
  </thead>
  <tbody></tbody>
</table>